.tmp/js/components/admins/views/index.html

<div ng-init="vm.loadAll()" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Listagem de Administradores</h4>
          </div>
          <div class="content table-responsive table-full-width"></div>
          <div style="margin:10px 20px;" class="buttons">
            <button ui-sref="dashboard.adminsCreate" class="btn btn-success btn-fill pull-right">Novo Administrador</button>
            <form class="form-inline">
              <div class="form-group">
                <label>Filtro Geral</label>
                <input id="exampleInputName2" type="text" placeholder="pesquisar" ng-model="search.$" class="form-control"/>
              </div>
            </form>
          </div>
          <table class="table table-hover table-striped">
            <thead>
              <th align="center"><a ng-click="vm.sort.type = 'displayName'; vm.sort.reverse = !vm.sort.reverse">Nome<span ng-show="vm.sort.type == 'displayName' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'displayName' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
              <th align="center">Ações</th>
            </thead>
            <tbody>
              <tr dir-paginate="item in vm.adminList | orderBy:vm.sort.type:vm.sort.reverse | filter:search | itemsPerPage:10  track by $index">
                <td>{{item.displayName}}</td>
                <td aling="center">
                  <button type="button" ui-sref="dashboard.adminsShow({ id: item._id.$oid, admin : item, index: $index})" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span></button>
                  <button type="button" mw-confirm-click="vm.destroy(item)" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="margin:10px 20px;" class="buttons">
            <button ui-sref="dashboard.adminsCreate" class="btn btn-success btn-fill pull-right">Novo Administrador</button>
            <div class="clearfix"></div>
          </div>
          <dir-pagination-controls max-size="5"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

src/js/components/admins/views/index.jade
.content( ng-init="vm.loadAll()")
	.container-fluid
		.row
			.col-md-12
				.card
					.header
						h4.title Listagem de Administradores
					.content.table-responsive.table-full-width

					.buttons(style='margin:10px 20px;')
						button.btn.btn-success.btn-fill.pull-right(ui-sref='dashboard.adminsCreate') Novo Administrador

						form.form-inline
							.form-group
								label Filtro Geral
								input#exampleInputName2.form-control(type='text', placeholder='pesquisar' ng-model='search.$')

					table.table.table-hover.table-striped
						thead
							th(align='center')
								a(ng-click="vm.sort.type = 'displayName'; vm.sort.reverse = !vm.sort.reverse") Nome
									span.fa.fa-caret-down(ng-show="vm.sort.type == 'displayName' && !vm.sort.reverse")
									span.fa.fa-caret-up(ng-show="vm.sort.type == 'displayName' && vm.sort.reverse")

							th(align='center') Ações

						tbody
							tr(dir-paginate="item in vm.adminList | orderBy:vm.sort.type:vm.sort.reverse | filter:search | itemsPerPage:20  track by $index")
								td {{item.displayName}}

								td(aling='center')
									button.btn.btn-default(type='button', ui-sref='dashboard.adminsShow({ id: item._id.$oid, admin : item, index: $index})')
										span.glyphicon.glyphicon-eye-open(aria-hidden='true' )
									button.btn.btn-default(type='button', mw-confirm-click="vm.destroy(item)")
										span.glyphicon.glyphicon-trash(aria-hidden='true')


					.buttons(style='margin:10px 20px;')
						button.btn.btn-success.btn-fill.pull-right(ui-sref='dashboard.adminsCreate') Novo Administrador
						.clearfix
					dir-pagination-controls(max-size='5')
