src/js/components/promotions/views/create.jade
.content
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            h4.title Nova promoção
          .content
            form(unsaved-warning-form, novalidate, name="bonusform", ng-submit='vm.save(bonusform,vm.bonus)')
              div(ng-include="'js/components/promotions/views/_form.html'")

.tmp/js/components/questions/views/create.html

<div ng-init="vm.initLocalObjects()" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Nova Pergunta</h4>
          </div>
          <div class="content">
            <form unsaved-warning-form="unsaved-warning-form" novalidate="novalidate" name="questionsform" ng-submit="vm.save(questionsform,vm.question)">
              <div ng-include="'js/components/questions/views/_form.html'"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
