dist/js/components/promotions/views/index.html
<div ng-init="vm.loadAll()" class="content"><div class="container-fluid"><div class="row"><div class="col-md-12"><div class="card"><div class="header"><h4 class="title">Listagem de Promoções</h4></div><div class="content table-responsive table-full-width"></div><div style="margin:10px 20px;" class="buttons"><button ui-sref="dashboard.promotionsCreate" class="btn btn-success btn-fill pull-right">Nova Promoção</button><form class="form-inline"><div class="form-group"><label>Filtro Geral</label><input id="exampleInputName2" type="text" placeholder="pesquisar" ng-model="search.$" class="form-control"/></div></form></div><table class="table table-hover table-striped"><thead><th align="center"><a ng-click="vm.sort.type = 'title'; vm.sort.reverse = !vm.sort.reverse">Título<span ng-show="vm.sort.type == 'title' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'title' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th><th align="center"><a ng-click="vm.sort.type = 'startDates._d'; vm.sort.reverse = !vm.sort.reverse">Início<span ng-show="vm.sort.type == 'startDates._d' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'startDates._d' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th><th align="center"><a ng-click="vm.sort.type = 'endDates._d'; vm.sort.reverse = !vm.sort.reverse">Término<span ng-show="vm.sort.type == 'endDates._d' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'endDates._d' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th><th align="center"><a ng-click="vm.sort.type = 'bonus'; vm.sort.reverse = !vm.sort.reverse">Valor do Bônus<span ng-show="vm.sort.type == 'bonus' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'bonus' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th><th align="center">Ações</th></thead><tbody><tr dir-paginate="item in vm.bonusList | orderBy:vm.sort.type:vm.sort.reverse | filter:search | itemsPerPage:10  track by $index"><td>{{item.title}}</td><td>{{item.startDates._d | date:"dd/MM/yyyy"}}</td><td>{{item.endDates._d | date:"dd/MM/yyyy"}}</td><td>{{item.bonus}}%</td><td aling="center"><button type="button" ui-sref="dashboard.promotionsShow({ id: item._id.$oid, promotion : item, index: $index})" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span></button><button type="button" ui-sref="dashboard.promotionsEdit({ id: item._id.$oid, promotion : item, index: $index})" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button><button type="button" mw-confirm-click="vm.destroy(item)" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button></td></tr></tbody></table><div style="margin:10px 20px;" class="buttons"><button ui-sref="dashboard.promotionsCreate" class="btn btn-success btn-fill pull-right">Nova Promoção</button><div class="clearfix"></div></div><dir-pagination-controls max-size="5"></dir-pagination-controls></div></div></div></div></div>

src/js/components/promotions/views/index.jade
.content( ng-init="vm.loadAll()")
	.container-fluid
		.row
			.col-md-12
				.card
					.header
						h4.title Listagem de Promoções
					.content.table-responsive.table-full-width

					.buttons(style='margin:10px 20px;')
						button.btn.btn-success.btn-fill.pull-right(ui-sref='dashboard.promotionsCreate') Nova Promoção

						form.form-inline
							.form-group
								label Filtro Geral
								input#exampleInputName2.form-control(type='text', placeholder='pesquisar' ng-model='search.$')

					table.table.table-hover.table-striped
						thead
							th(align='center')
								a(ng-click="vm.sort.type = 'title'; vm.sort.reverse = !vm.sort.reverse") Título
									span.fa.fa-caret-down(ng-show="vm.sort.type == 'title' && !vm.sort.reverse")
									span.fa.fa-caret-up(ng-show="vm.sort.type == 'title' && vm.sort.reverse")

							th(align='center')
								a(ng-click="vm.sort.type = 'startDates._d'; vm.sort.reverse = !vm.sort.reverse") Início
									span.fa.fa-caret-down(ng-show="vm.sort.type == 'startDates._d' && !vm.sort.reverse")
									span.fa.fa-caret-up(ng-show="vm.sort.type == 'startDates._d' && vm.sort.reverse")

							th(align='center')
								a(ng-click="vm.sort.type = 'endDates._d'; vm.sort.reverse = !vm.sort.reverse") Término
									span.fa.fa-caret-down(ng-show="vm.sort.type == 'endDates._d' && !vm.sort.reverse")
									span.fa.fa-caret-up(ng-show="vm.sort.type == 'endDates._d' && vm.sort.reverse")

							th(align='center')
								a(ng-click="vm.sort.type = 'bonus'; vm.sort.reverse = !vm.sort.reverse") Valor do Bônus
									span.fa.fa-caret-down(ng-show="vm.sort.type == 'bonus' && !vm.sort.reverse")
									span.fa.fa-caret-up(ng-show="vm.sort.type == 'bonus' && vm.sort.reverse")

							th(align='center') Ações

						tbody
							tr(dir-paginate="item in vm.bonusList | orderBy:vm.sort.type:vm.sort.reverse | filter:search | itemsPerPage:20  track by $index")
								td {{item.title}}
								td {{item.startDates._d | date:"dd/MM/yyyy"}}
								td {{item.endDates._d | date:"dd/MM/yyyy"}}
								td {{item.bonus}}%

								td(aling='center')
									button.btn.btn-default(type='button', ui-sref='dashboard.promotionsShow({ id: item._id.$oid, promotion : item, index: $index})')
										span.glyphicon.glyphicon-eye-open(aria-hidden='true' )
									button.btn.btn-default(type='button', ui-sref='dashboard.promotionsEdit({ id: item._id.$oid, promotion : item, index: $index})')
										span.glyphicon.glyphicon-pencil(aria-hidden='true')
									button.btn.btn-default(type='button', mw-confirm-click="vm.destroy(item)")
										span.glyphicon.glyphicon-trash(aria-hidden='true')


					.buttons(style='margin:10px 20px;')
						button.btn.btn-success.btn-fill.pull-right(ui-sref='dashboard.promotionsCreate') Nova Promoção
						.clearfix
					dir-pagination-controls(max-size='5')
