src/js/common/partials/modal.jade
.modal-header
  h3 Logout
.modal-body
  p tem certeza que deseja sair do sistema ?
.modal-footer
  a.btn.btn-fill(ng-click='$close()') Cancelar
  a.btn.btn-fill.btn-success(ng-click='vm.logout()') Sair

dist/js/common/partials/modal.html
<div class="modal-header"><h3>Logout</h3></div><div class="modal-body"><p>tem certeza que deseja sair do sistema ?</p></div><div class="modal-footer"><a ng-click="$close()" class="btn btn-fill">Cancelar</a><a ng-click="vm.logout()" class="btn btn-fill btn-success">Sair</a></div>
