dist/js/components/questions/views/edit.html
<div ng-init="vm.loadQuestion()" class="content"><div class="container-fluid"><div class="row"><div class="col-md-12"><div class="card"><div class="header"><h4 class="title">Editar Pergunta</h4></div><div class="content"><form unsaved-warning-form="unsaved-warning-form" novalidate="novalidate" name="questionsform" ng-submit="vm.update(questionsform,vm.question)"><div ng-include="'js/components/questions/views/_form.html'"></div></form></div></div></div></div></div></div>

src/js/components/questions/views/edit.jade
.content(ng-init='vm.loadQuestion()')
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            h4.title Editar Pergunta
          .content
            form(unsaved-warning-form, novalidate, name="questionsform" ng-submit='vm.update(questionsform,vm.question)')
              div(ng-include="'js/components/questions/views/_form.html'")
