src/js/components/questions/views/index.jade
.content(ng-init='vm.loadAll()')
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            h4.title Listagem de Perguntas
          .content
            .buttons(style='margin:10px 20px;')
              button.btn.btn-success.btn-fill.pull-right(ui-sref='dashboard.questionsCreate') Nova Pergunta
            br
            br
            form.form-inline
              .form-group
                label.block_label Data inicial
                datepicker(date-format='dd-MM-yyyy')
                  input.form-control(name='date', ng-model='vm.date.start')
              .form-group
                label.block_label Data final
                datepicker(date-format='dd-MM-yyyy')
                  input.form-control(name='date', ng-model='vm.date.end')
              .form-group
                button.btn.btn-default(style='margin-top: 25px; margin-right: 150px', ng-click='vm.loadAll()')
                  span.fa.fa-search
              .form-group
                label.block_label Busca por Texto
                input#exampleInputName2.form-control(type='text', placeholder='pesquisar' ng-model='vm.stringToFind')
                button.btn.btn-default(ng-click='vm.loadQuestionsWithString()')
                  span.fa.fa-search
            .table-responsive.table-full-width
              table.table.table-hover.table-striped
                thead
                  th.question-name(align='center')
                    a(ng-click="vm.sort.type = 'text'; vm.sort.reverse = !vm.sort.reverse")
                      | Nome
                      span.fa.fa-caret-up(ng-show="vm.sort.type == 'text' && !vm.sort.reverse")
                      span.fa.fa-caret-down(ng-show="vm.sort.type == 'text' && vm.sort.reverse")
                  th(align='center')
                    a(ng-click="vm.sort.type = 'mapDate._d'; vm.sort.reverse = !vm.sort.reverse")
                      | Data
                      span.fa.fa-caret-down(ng-show="vm.sort.type == 'mapDate._d' && !vm.sort.reverse")
                      span.fa.fa-caret-up(ng-show="vm.sort.type == 'mapDate._d' && vm.sort.reverse")
                  th(align='center')
                    a(ng-click="vm.sort.type = 'correctAnswersPercent'; vm.sort.reverse = !vm.sort.reverse")
                      | Acertos
                      span.fa.fa-caret-down(ng-show="vm.sort.type == 'correctAnswersPercent' && !vm.sort.reverse")
                      span.fa.fa-caret-up(ng-show="vm.sort.type == 'correctAnswersPercent' && vm.sort.reverse")
                  th(align='center')
                    a(ng-click="vm.sort.type = 'theme'; vm.sort.reverse = !vm.sort.reverse")
                      | Tema
                      span.fa.fa-caret-up(ng-show="vm.sort.type == 'theme' && !vm.sort.reverse")
                      span.fa.fa-caret-down(ng-show="vm.sort.type == 'theme' && vm.sort.reverse")
                  th(align='center') Ações
                tbody
                  tr(dir-paginate='item in vm.mappedQuestions | orderBy:vm.sort.type:vm.sort.reverse | filter:search | itemsPerPage:20  track by $index')
                    td {{item.text}}
                    td {{item.mapDate._d| date:"dd/MM/yyyy"}}
                    td {{item.correctAnswersPercent | percentage:0 }}
                    td {{item.theme}}
                    td(aling='center')
                      button.btn.btn-default(type='button', ui-sref='dashboard.questionsShow({ id: item._id.$oid, question : item, index: $index})')
                        span.glyphicon.glyphicon-eye-open(aria-hidden='true')
                      button.btn.btn-default(type='button', ui-sref='dashboard.questionsEdit({ id: item._id.$oid, question : item, index: $index})')
                        span.glyphicon.glyphicon-pencil(aria-hidden='true')
                      button.btn.btn-default(type='button', mw-confirm-click='vm.destroy(item)')
                        span.glyphicon.glyphicon-trash(aria-hidden='true')
            .buttons(style='margin:10px 20px;')
              button.btn.btn-success.btn-fill.pull-right(ui-sref='dashboard.questionsCreate') Nova Pergunta
              .clearfix
            dir-pagination-controls(max-size='5')

dist/js/components/questions/views/index.html
<div ng-init="vm.loadAll()" class="content"><div class="container-fluid"><div class="row"><div class="col-md-12"><div class="card"><div class="header"><h4 class="title">Listagem de Perguntas</h4></div><div class="content"><div style="margin:10px 20px;" class="buttons"><button ui-sref="dashboard.questionsCreate" class="btn btn-success btn-fill pull-right">Nova Pergunta</button></div><br/><br/><form class="form-inline"><div class="form-group"><label class="block_label">Data inicial</label><datepicker date-format="dd-MM-yyyy"><input name="date" ng-model="vm.date.start" class="form-control"/></datepicker></div><div class="form-group"><label class="block_label">Data final</label><datepicker date-format="dd-MM-yyyy"><input name="date" ng-model="vm.date.end" class="form-control"/></datepicker></div><div class="form-group"><button style="margin-top: 25px; margin-right: 150px" ng-click="vm.loadAll()" class="btn btn-default"><span class="fa fa-search"></span></button></div><div class="form-group"><label class="block_label">Busca por Texto</label><input id="exampleInputName2" type="text" placeholder="pesquisar" ng-model="vm.stringToFind" class="form-control"/><button ng-click="vm.loadQuestionsWithString()" class="btn btn-default"><span class="fa fa-search"></span></button></div></form><div class="table-responsive table-full-width"><table class="table table-hover table-striped"><thead><th align="center" class="question-name"><a ng-click="vm.sort.type = 'text'; vm.sort.reverse = !vm.sort.reverse">Nome<span ng-show="vm.sort.type == 'text' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-up"></span><span ng-show="vm.sort.type == 'text' &amp;&amp; vm.sort.reverse" class="fa fa-caret-down"></span></a></th><th align="center"><a ng-click="vm.sort.type = 'mapDate._d'; vm.sort.reverse = !vm.sort.reverse">Data<span ng-show="vm.sort.type == 'mapDate._d' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'mapDate._d' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th><th align="center"><a ng-click="vm.sort.type = 'correctAnswersPercent'; vm.sort.reverse = !vm.sort.reverse">Acertos<span ng-show="vm.sort.type == 'correctAnswersPercent' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'correctAnswersPercent' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th><th align="center"><a ng-click="vm.sort.type = 'theme'; vm.sort.reverse = !vm.sort.reverse">Tema<span ng-show="vm.sort.type == 'theme' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-up"></span><span ng-show="vm.sort.type == 'theme' &amp;&amp; vm.sort.reverse" class="fa fa-caret-down"></span></a></th><th align="center">Ações</th></thead><tbody><tr dir-paginate="item in vm.mappedQuestions | orderBy:vm.sort.type:vm.sort.reverse | filter:search | itemsPerPage:10  track by $index"><td>{{item.text}}</td><td>{{item.mapDate._d| date:"dd/MM/yyyy"}}</td><td>{{item.correctAnswersPercent | percentage:0 }}</td><td>{{item.theme}}</td><td aling="center"><button type="button" ui-sref="dashboard.questionsShow({ id: item._id.$oid, question : item, index: $index})" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span></button><button type="button" ui-sref="dashboard.questionsEdit({ id: item._id.$oid, question : item, index: $index})" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button><button type="button" mw-confirm-click="vm.destroy(item)" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button></td></tr></tbody></table></div><div style="margin:10px 20px;" class="buttons"><button ui-sref="dashboard.questionsCreate" class="btn btn-success btn-fill pull-right">Nova Pergunta</button><div class="clearfix"></div></div><dir-pagination-controls max-size="5"></dir-pagination-controls></div></div></div></div></div></div>
