src/js/components/questions/views/show.jade
.content(ng-init='vm.loadQuestion(); vm.disabled = true')
	.container-fluid
		.row
			.col-md-12
				.card
					.header
						h4.title {{vm.question.text}}
					.content
						form
							div(ng-include="'js/components/questions/views/_form.html'")

dist/js/components/questions/views/show.html
<div ng-init="vm.loadQuestion(); vm.disabled = true" class="content"><div class="container-fluid"><div class="row"><div class="col-md-12"><div class="card"><div class="header"><h4 class="title">{{vm.question.text}}</h4></div><div class="content"><form><div ng-include="'js/components/questions/views/_form.html'"></div></form></div></div></div></div></div></div>
