dist/js/components/login/views/login.html
<div class="login-view"><div class="container"><img src="img/logo.png" width="400" alt="logo"/><div class="card card-container"><form class="form-signin"><span id="reauth-email" class="reauth-email"></span><input id="inputEmail" type="text" placeholder="Usuário" required="true" autofocus="" ng-model="vm.user.name" class="form-control"/><input id="inputPassword" type="password" placeholder="Senha" required="true" ng-model="vm.user.password" class="form-control"/><button type="submit" ng-click="vm.login(vm.user)" class="btn btn-lg btn-primary btn-block btn-signin">Entrar</button></form><!-- /form--></div><!-- /card-container--></div><!-- /container--></div>

src/js/components/login/views/login.jade
.login-view
  .container
    img(src='img/logo.png' width='400' alt='logo')
    .card.card-container
      form.form-signin

        span#reauth-email.reauth-email
        input#inputEmail.form-control(type='text', placeholder='Usuário', required='true', autofocus='', ng-model='vm.user.name')
        input#inputPassword.form-control(type='password', placeholder='Senha', required='true',ng-model='vm.user.password')
        button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit', ng-click='vm.login(vm.user)') Entrar
      // /form
    // /card-container
  // /container
