.tmp/js/components/leaderboards/views/index.html

<div ng-init="vm.loadAll()" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Placar</h4>
          </div>
          <div class="content table-responsive table-full-width"></div>
          <form class="form-inline">
            <div class="form-group">
              <label for="exampleInputName2">Filtro Nome</label>
              <input id="exampleInputName2" type="text" placeholder="pesquisar" ng-model="search.$" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="exampleInputName2">Filtrar Pontuação</label>
              <input id="exampleInputName2" type="text" ng-model="search.score" class="form-control"/>
            </div>
          </form>
          <table class="table table-hover table-striped">
            <thead>
              <th align="center"><a ng-click="vm.sort.type = 'rank'; vm.sort.reverse = !vm.sort.reverse">Colocação<span ng-show="vm.sort.type == 'rank' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'rank' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
              <th align="center" class="question-name"><a ng-click="vm.sort.type = 'userName'; vm.sort.reverse = !vm.sort.reverse">Nome<span ng-show="vm.sort.type == 'userName' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'userName' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
              <th align="center"><a ng-click="vm.sort.type = 'rank'; vm.sort.reverse = !vm.sort.reverse">Pontuação<span ng-show="vm.sort.type == 'rank' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'rank' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
              <th align="center"><a ng-click="vm.sort.type = 'role'; vm.sort.reverse = !vm.sort.reverse">Cargo Jornada<span ng-show="vm.sort.type == 'role' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'role' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
              <th align="center"><a ng-click="vm.sort.type = 'occupation'; vm.sort.reverse = !vm.sort.reverse">Ocupação<span ng-show="vm.sort.type == 'occupation' &amp;&amp; !vm.sort.reverse" class="fa fa-caret-down"></span><span ng-show="vm.sort.type == 'occupation' &amp;&amp; vm.sort.reverse" class="fa fa-caret-up"></span></a></th>
            </thead>
            <tbody>
              <tr dir-paginate="item in vm.leaderboards | orderBy:vm.sort.type:vm.sort.reverse  | filter:search | itemsPerPage: 10 track by $index">
                <td>{{item.rank}}º</td>
                <td>{{item.userName || "*Sem nome"}}</td>
                <td>{{item.score}}</td>
                <td>{{item.role}}</td>
                <td>{{item.occupation || "*Sem ocupação"}}</td>
              </tr>
            </tbody>
            <div class="clearfix"></div>
          </table>
          <dir-pagination-controls max-size="5"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

src/js/components/leaderboards/views/index.jade
.content(ng-init="vm.loadAll()")
	.container-fluid
		.row
			.col-md-12
				.card
					.header
						h4.title Placar
					.content.table-responsive.table-full-width

					form.form-inline
							.form-group
								label(for='exampleInputName2') Filtro Nome
								input#exampleInputName2.form-control(type='text', placeholder='pesquisar' ng-model='search.$')
							.form-group
								label(for='exampleInputName2') Filtrar Pontuação
								input#exampleInputName2.form-control(type='text', ng-model='search.score')

						table.table.table-hover.table-striped
							thead

								th(align='center')
									a(ng-click="vm.sort.type = 'rank'; vm.sort.reverse = !vm.sort.reverse") Colocação
										span.fa.fa-caret-down(ng-show="vm.sort.type == 'rank' && !vm.sort.reverse")
										span.fa.fa-caret-up(ng-show="vm.sort.type == 'rank' && vm.sort.reverse")

								th.question-name(align='center')
									a(ng-click="vm.sort.type = 'userName'; vm.sort.reverse = !vm.sort.reverse") Nome
										span.fa.fa-caret-down(ng-show="vm.sort.type == 'userName' && !vm.sort.reverse")
										span.fa.fa-caret-up(ng-show="vm.sort.type == 'userName' && vm.sort.reverse")

								th(align='center')
									a(ng-click="vm.sort.type = 'rank'; vm.sort.reverse = !vm.sort.reverse") Pontuação
										span.fa.fa-caret-down(ng-show="vm.sort.type == 'rank' && !vm.sort.reverse")
										span.fa.fa-caret-up(ng-show="vm.sort.type == 'rank' && vm.sort.reverse")

								th(align='center')
									a(ng-click="vm.sort.type = 'role'; vm.sort.reverse = !vm.sort.reverse") Cargo Jornada
										span.fa.fa-caret-down(ng-show="vm.sort.type == 'role' && !vm.sort.reverse")
										span.fa.fa-caret-up(ng-show="vm.sort.type == 'role' && vm.sort.reverse")

								th(align='center')
									a(ng-click="vm.sort.type = 'occupation'; vm.sort.reverse = !vm.sort.reverse") Ocupação
										span.fa.fa-caret-down(ng-show="vm.sort.type == 'occupation' && !vm.sort.reverse")
										span.fa.fa-caret-up(ng-show="vm.sort.type == 'occupation' && vm.sort.reverse")

							tbody
								tr(dir-paginate="item in vm.leaderboards | orderBy:vm.sort.type:vm.sort.reverse  | filter:search | itemsPerPage: 20 track by $index")
									td {{item.rank}}º
									td {{item.userName || "*Sem nome"}}
									td {{item.score}}
									td {{item.role}}
									td {{item.occupation || "*Sem ocupação"}}

							.clearfix
						dir-pagination-controls(max-size='5')
